body {
    background-color: lightblue;
}

h1 {
	text-align: center;
}

h2{
	color: red;
}

div.img {
    margin: 0px;
    border: 3px solid white;
    float: left;
    width: 50px;
	background-color: #dddddd;
}

div.img img {
    width: 100%;
    height: auto;
}

/* gives the table a border */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
	font-size: 70%;
}
/*adds a border the top of each row and determins how much space is between the rows.  */
td {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
}

/*add a different colour to the even rows in the table*/
tr:nth-child(even) {
    background: #e9e9e9;
}

/*  */
.footer {
	text-align: center;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

.logoimg {
	float:left;
	width:100px;
	height:100px;
}

header {
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    color: BLUE;
    text-align: left;
	font-size: 175%
}